%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th Name
      %th.small GID
      %th.small Password
      %th.medium Users
  %tbody
    - list.each do |group|
      %tr
        %td= group.name
        %td= group.gid
        %td= group.password
        %td= group.users.join(",")
