- if !list.extracted.nil?
  %p
    <strong>Files extracted:</strong> #{list.extracted ? "yes" : "no"}
- if list.files
  %table.table.table-striped.table-hover.table-condensed.files-table
    %thead
      %tr
        %th Name
        %th Type
    %tbody
      - list.files.each do |file|
        %tr
          %td= file.name
          %td= file.type
