body {
  background: #e9e0d6;
}

#nav-bar {
  background: #e9e0d6 url('wheels_horizontal.png') no-repeat 112% -105px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding-left: 15px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#nav-bar a:hover {
  text-decoration: none;
}

.scope{
  border-spacing: 5px;
}

a.scope_anchor,
a.both_anchor {
  display: block;
  visibility: hidden;
}

.scope_content{border-bottom: 1px dotted #d58512}

.scope-summary {
  display: inline;
  font-weight: normal;
  line-height: 1;
  color: #999999;
  font-size: 65%;
}

.scope-navigation {
  margin-left: 30px;
}

.inspection_details {
  margin-left: 30px;
}

.scope .table_container {
  display: table;
}

.scope table {
  table-layout: fixed;
}

.scope td {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scope th.tiny {
  width: 5%;
}

.scope th.small {
  width: 12%;
}

.scope-summary .summary-part {
  padding-left: 20px;
}

.filter-input {
  margin-bottom: 10px;
}

.filter-input input {
  width: 250px;
}

.fixed {
  position: fixed;
}

span.toggle {
  float: right;
  width: 24px;
  height: 24px;
  background: url("arrow_up.png");
  cursor: pointer;
  background-color: white;
  border-radius: 50%;

}

span.toggle.collapsed {
  background :url("arrow_down.png");
  background-color: white;
  border-radius: 50%;
}

.popover{
  min-width: 500px;
  max-width: 800px;
}

.popover button.close {
  padding: 6px;
}

h1 {
  color: #3D3A38;
}

h2 {
  color: #67635E;
}

a, a:hover {
  color: #7A7570;
}

.pad-top {
  margin-top: 10px;
}

.diff-toggle {
  float: right;
}

table.diff {
  background: #e6e6e6;
  table-layout: auto;
  width: 100%;
}

table.diff td {
  padding-right: 5px;
  padding-left: 5px;
}

table.diff tr.deletion {
  background: #FFC0C0;
}

table.diff tr.addition {
  background: #AEFFA8;
}

table.diff tr.common {
  background: #EEEEEE;
}

table.diff tr.header {
  background: #999999;
}

table.diff tr.deletion td.active {
  border-color: #E5ADAD;
}

table.diff tr.addition td.active {
  border-color: #95DA90;
}

table.diff td.linenumber {
  color: #777777;
  border-right: solid 1px #cccccc;
}

.inspection-details-popover .popover-content,
.diff-popover .popover-content {
  max-height: 500px;
  overflow-y: auto;
  font-family: monospace;
 }

.inspection-details-popover {
  min-width: 800px;
}

li.filter {
  font-family: monospace;
}

h1 {
  display: inline-block;
}

#file-modal-file-content {
  width: 100%;
  min-height: 450px;
  font-family: monospace;
}

#diff-unmanaged-files.modal .modal-body {
  margin: 0 0.5em;
  font-family: monospace;
}

#diff-unmanaged-files-diff {
  background-color: #EEEEEE;
}

#diff-unmanaged-files-diff .diff ul {
  background-color: #EEEEEE;
  border: 1px solid gray;
  padding: 4px;
}

#diff-unmanaged-files-file {
  margin-bottom: 1em;
}

.well .dismiss{
  margin: -14px;
}

.dismiss {
  float: right;
  width: 24px;
  height: 24px;
  background: url("cross.png");
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
}

