- if @errors
  .scope#alert_container
    .row
      .col-xs-10.col-xs-offset-1
        .well
          %span.text-right.dismiss{ title: "Collapse/Expand" }
          - @errors.each do |error|
            %p
              = error
