<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.1" name="Machinery-openSUSE-Tumbleweed">
    <description type="system">
        <author>Machinery-Team</author>
        <contact>machinery@lists.suse.com</contact>
        <specification>
            Machinery openSUSE Tumbleweed box
        </specification>
    </description>
    <preferences>
      <type image="vmx" filesystem="btrfs" boot="vmxboot/suse-tumbleweed" format="vagrant" bootloader="grub2"  kernelcmdline="root=/dev/vda1 disk=/dev/vda nomodeset LOCAL_BOOT=yes net.ifnames=0" bootpartition="false">
            <vagrantconfig provider="libvirt" virtualsize="16"/>
            <size unit="G">15</size>
            <systemdisk name="btrfs">
                <volume name="home"/>
                <volume name="tmp"/>
                <volume name="opt"/>
                <volume name="srv"/>
                <volume name="var/crash"/>
                <volume name="var/spool"/>
                <volume name="boot/grub2/i386-pc"/>
                <volume name="usr/local"/>
                <volume name="var/log"/>
                <volume name="var/opt"/>
                <volume name="var/tmp"/>
            </systemdisk>
        </type>
        <version>1.13.2</version>
        <packagemanager>zypper</packagemanager>
        <locale>en_US</locale>
        <keytable>us.map.gz</keytable>
        <timezone>Europe/Berlin</timezone>
        <hwclock>utc</hwclock>
        <rpm-excludedocs>true</rpm-excludedocs>
    </preferences>
    <users group="root">
        <user name="root" password="vagrant" pwdformat="plain" home="/root"/>
    </users>
    <users group="vagrant">
        <user name="vagrant" password="vagrant" pwdformat="plain" home="/home/vagrant"/>
    </users>
    <repository type="yast2" alias="Main Repository" imageinclude="true">
        <source path="http://download.opensuse.org/tumbleweed/repo/oss/"/>
    </repository>
    <packages type="image">
        <namedCollection name="base"/>
        <product name="openSUSE"/>
        <package name="ifplugd"/>
        <package name="iputils"/>
        <package name="vim"/>
        <package name="grub2"/>
        <package name="syslinux"/>
        <package name="lvm2"/>
        <package name="tar"/>
        <package name="parted"/>
        <package name="sudo"/>
        <package name="rsync"/>
        <package name="kernel-default"/>
        <package name="kiwi"/>
        <package name="kiwi-tools"/>
        <package name="kiwi-desc-vmxboot"/>
        <package name="squashfs"/>
        <package name="iproute2"/>
        <package name="gcc-c++"/>
        <package name="less"/>
        <package name="make"/>
        <package name="bison"/>
        <package name="libtool"/>
        <package name="ruby-devel"/>
        <package name="git"/>
        <package name="libxslt1"/>
        <package name="libxslt-devel"/>
        <package name="zlib-devel"/>
        <package name="libxml2-devel"/>
        <package name="libvirt-devel"/>
        <package name="expect"/>
        <package name="patch"/>
        <package name="db45-utils"/>
        <package name="db-utils"/>
        <package name="man"/>
        <package name="curl"/>
        <package name="sysconfig"/>
    </packages>
    <packages type="bootstrap">
        <package name="udev"/>
        <package name="filesystem"/>
        <package name="glibc-locale"/>
        <package name="cracklib-dict-full"/>
        <package name="ca-certificates"/>
    </packages>
    <packages type="delete">
        <package name="kernel-debug"/>
    </packages>
</image>
