!!!
%html
  %head
    %title
      Machinery System Descriptions
    %meta{ :charset => 'utf-8' }
    %link{ :href => "assets/machinery-base.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "assets/machinery.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => "assets/jquery-2.1.1.min.js" }
    %script{ :src => "assets/jquery.searcher.min.js" }
    %script{ :src => "assets/machinery-base.js" }
    %script{ :src => "assets/show/machinery.js" }
    %script{ :src => "assets/bootstrap-tooltip.js" }
    %script{ :src => "assets/bootstrap-popover.js" }
    %script{ :src => "assets/bootstrap-modal.js" }

  %body
    .container-fluid
      #content_container
        = render_partial "description_selector"

    .container-fluid
      #nav-bar
        .row
          .col-xs-4.col-xs-offset-1
            .input-group.input-group-lg
              %input.description-name.form-control{ "aria-label" => "...", :type => "text",
                :placeholder => "No description to show", :disabled => "disabled" }
              .input-group-btn
                %button.btn.btn-default.open-description-selector.show{ "data-target" => "#description-selector",
                  "data-toggle" => "modal", :type => "button"}
                  %span.glyphicon.glyphicon-option-horizontal{ "aria-hidden" => "true" }
          .col-xs-4.col-xs-offset-1
            .input-group.input-group-lg
              %input.description-name.form-control{ "aria-label" => "...",
                :type => "text", :placeholder => "No description selected to compare",
                :disabled => "disabled"  }
              .input-group-btn
                %button.btn.btn-default.open-description-selector.compare{ "data-target" => "#description-selector",
                  "data-toggle" => "modal", :type => "button" }
                  %span.glyphicon.glyphicon-option-horizontal{ "aria-hidden" => "true" }
                %a.btn.btn-default.close-comparison{ href: "#", :disabled => "disabled" }
                  %span.glyphicon.glyphicon-remove{ "aria-hidden" => "true" }
